.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--hamburger {
        width: 1.6rem;

        @include respond(tablet) {
            display: none;
        }
    }

    &--logo {
        width: 12rem;
        margin: 0;
        padding: 0;
    }

    &--search-bar {
        display: none;

        @include respond(tablet) {
            display: flex;
        }
    }
}
