.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.6rem;
    }

    &__hamburger {
        width: 2rem;

        @include respond(desktop) {
            display: none;
        }
    }

    &__logo {
        width: 12rem;
        margin: 0;
        padding: 0;
    }

    &__search-bar {
        display: none;
        flex-grow: 1;

        @include respond(tablet) {
            display: flex;
        }
    }

    &__nav-links {
        display: none;

        @include respond(desktop) {
            display: flex;
        }
    }
}
