.title-details {
    padding-top: 1rem;

    &__header {
        margin-top: 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        grid-template-rows: auto auto 1fr max-content max-content 1fr;
        grid-template-areas:
            'name name name'
            'description description description'
            'trailer trailer trailer'
            'poster genres genres'
            'poster short-desc short-desc'
            'rating-container rating-container rating-container';

        @include respond(tablet) {
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: auto;

            grid-template-areas:
                'name name name'
                'description description description'
                'poster trailer trailer'
                'genres genres genres'
                'short-desc short-desc short-desc'
                'rating-container rating-container rating-container';
        }

        @include respond(desktop) {
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: auto;

            grid-template-areas:
                'name name rating-container'
                'description description rating-container'
                'poster trailer trailer'
                'genres genres genres'
                'short-desc short-desc short-desc';
        }
    }

    &__name {
        grid-area: name;
    }

    &__description {
        grid-area: description;
        margin: 0;
    }

    &__poster {
        grid-area: poster;
    }

    &__trailer {
        grid-area: trailer;
        height: 20rem;

        @include respond(tablet) {
            height: 100%;
        }
    }

    &__genres {
        grid-area: genres;
    }

    &__short-desc {
        grid-area: short-desc;
        margin: 0;
    }

    &__rating-container {
        grid-area: rating-container;
    }
}
