.title-details {
    padding-top: 1rem;

    &__header {
        margin-top: 2rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        grid-template-rows: auto auto 1fr max-content max-content;
        grid-template-areas:
            'name name name'
            'description description description'
            'trailer trailer trailer'
            'poster genresshortdesc genresshortdesc'
            'rating-container rating-container rating-container';

        @include respond(tablet) {
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: auto;

            grid-template-areas:
                'name name name'
                'description description description'
                'poster trailer trailer'
                'genresshortdesc genresshortdesc genresshortdesc'
                'rating-container rating-container rating-container';
        }

        @include respond(desktop) {
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: auto;

            grid-template-areas:
                'name name rating-container'
                'description description rating-container'
                'poster trailer trailer'
                'genresshortdesc genresshortdesc genresshortdesc';
        }
    }

    &__name {
        grid-area: name;
    }

    &__description {
        grid-area: description;
        margin: 0;
    }

    &__poster {
        grid-area: poster;

        @include respond(tablet) {
            width: 20rem;
            height: 29.5rem;
        }

        @include respond(desktop) {
            width: 30rem;
            height: 39.5rem;
        }
    }

    &__trailer {
        grid-area: trailer;
        height: 20rem;
        border-radius: $radius;
        overflow: hidden;

        @include respond(tablet) {
            height: 100%;
        }

        @include respond(desktop) {
            height: 44.5rem;
        }
    }

    &__genres-and-shortdesc-container {
        grid-area: genresshortdesc;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__genres {
    }

    &__short-desc {
        margin: 0;
    }

    &__rating-container {
        grid-area: rating-container;

        @include respond(tablet) {
            width: max-content;
            margin-right: auto;
        }

        @include respond(desktop) {
            margin-left: auto;
        }
    }

    &__hr {
        width: 100%;
        border: 1px solid $color-secondary;
    }

    &__director-writer {
        display: flex;
        gap: 1.5rem;
    }

    &__streaming-container {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__casts-container {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__story {
        margin: 0;
    }

    &__story-container {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
