.avatar {
    line-height: 0; /* remove line-height */
    display: inline-block; /* circle wraps image */
    border-radius: 50%; /* relative value */
    height: 32px;
    width: 32px;
    overflow: hidden;
    background-color: $color-secondary;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &--sm {
        height: 3.2rem;
        width: 3.2rem;
    }

    &--md {
        height: 6.4rem;
        width: 6.4rem;
    }

    &--lg {
        height: 9.6rem;
        width: 9.6rem;
    }

    &__img {
        width: 100%;
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
    }

    &__text {
        text-decoration: none;
        color: $color-light;
    }
}
