.ratings-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'userratingsheading yourratingsheading ageratingheading'
        'userratingscontainer yourratingscontainer agerating';
    width: 100%;

    @include respond(tablet) {
        grid-template-columns: max-content max-content max-content;
        column-gap: 1.5rem;
        grid-template-areas:
            'userratingsheading yourratingsheading ageratingheading'
            'userratingscontainer yourratingscontainer agerating';
    }

    &__user-ratings-heading {
        grid-area: userratingsheading;
        margin: 0;
        text-align: center;
    }

    &__user-ratings-container {
        grid-area: userratingscontainer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__yellow-star {
        width: 2rem;
    }

    &__user-ratings {
        margin: 0;
    }

    &__user-rating {
        font-weight: 900;
        color: $color-lightest;
    }

    &__your-ratings-heading {
        grid-area: yourratingsheading;
        margin: 0;
        text-align: center;
    }

    &__your-ratings-container {
        grid-area: yourratingscontainer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: all $animation-speed ease-out;

        &:hover {
            cursor: pointer;
            filter: brightness(0) invert(1);
        }
    }

    &__user-ratings-quantity {
        margin: 0;
        font-size: 1.1rem;
    }

    &__blue-star {
        width: 2rem;
    }

    &__age-rating-heading {
        grid-area: ageratingheading;
        margin: 0;
        text-align: center;
    }

    &__age-rating {
        grid-area: agerating;
        text-align: center;
    }
}
