.search-bar {
    display: flex;
    flex-direction: row;

    &__select {
        border: none;
        background-color: $color-secondary;
        color: $color-light;
        font-weight: bold;
        padding-left: 1.5rem;
        border-radius: $radius 0 0 $radius;
        width: min-content;
        // remove default arrow
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        transition: all $animation-speed;

        &:focus {
            outline: none;
        }

        @include for-hover {
            &:hover {
                cursor: pointer;
                background-color: $color-secondary-light;
            }
        }
    }

    &__input {
        background-color: $background-color-2;
        border: none;
        color: $color-light;
        //font-weight: bold;
        padding-left: 1.5rem;
        width: 100%;
        border-radius: 0px;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        border-radius: 0 $radius $radius 0;
    }
}
