.title-numbered {
    display: flex;
    align-items: flex-end;
    width: max-content;
    position: relative;

    &__number {
        color: $color-secondary-light;
        font-size: 20rem;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        left: 0;
        letter-spacing: -2.5rem;
    }

    &__title {
        margin-left: 9rem;
        z-index: 1;
        transition: all $animation-speed;

        &:hover {
            transform: scale(1.05);
        }
    }

    &--double-digit &__title {
        margin-left: 18rem;
    }
}
