.section-heading {
    width: max-content;

    &__container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__img {
        width: 2rem;
        transition: all $animation-speed;
    }

    &__link {
        text-decoration: none;

        &--disabled {
            cursor: default;
        }
    }

    &__no-link {
        cursor: default;
    }

    &__heading {
        transition: all $animation-speed;
    }

    &__link-hover:hover &__heading,
    &__link-hover:hover &__img {
        filter: brightness(2);
    }

    &--linked &__link,
    &--linked &__img {
        transition: all $animation-speed ease-out;
        &:hover {
            filter: brightness(1.5);
        }
    }
}
